body {
	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	
}
.container {
	
	width: 50%;
	margin-top: 9%;
	background: rgba(0,0,0,0.5);
	box-shadow: 0 0px 10px 5px black;
	padding: 40px;
	color: #fff;
}
